<form action="/images/add" method="POST">
  Image link
  <input type="text" name="urlText" />
  <br />
      <a href="/images/edit/{{image._id}}">Edit image</a>
  Description
  <input type="text" name="description" />
  <br />
  <input type="submit" value="AddImage" />
</form>